{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="container my-5" style="max-width:900px;">
    <h2 class="mb-4 text-center">BLOG</h2>
    <div class="row g-3">
        {% for category in categories %}
        <div class="col-md-12">
            <a href="{% url 'category_detail' category.pk %}"
               class="card text-decoration-none text-dark h-100">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ category.title }}</h5>
                    <p class="text-muted text-center">
                        {{ category.post_set.count }} ta post
                    </p>
                </div>
            </a>
        </div>
        {% empty %}
        <p>Hozircha kategoriya yo'q.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
